RewriteEngine on

# Redirect to index.php for all requests except /assets/*
RewriteCond %{REQUEST_URI} !^/Hafsa_Moatassim_Billah_Wiki/assets/
RewriteRule ^ index.php [L]

# Allow direct access to assets folder
<IfModule mod_rewrite.c>
    RewriteRule ^Hafsa_Moatassim_Billah_Wiki/assets/ - [L]
</IfModule>